<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <div class="list-group">
        {% for item in list %}
  <a href="/detail/{{item.id}}" class="list-group-item">{{item.title}}</a>
        {% endfor %}
    </div>

</head>


<body>
<h1>helolo</h1>
<ul>
    {% for item in list %}
    <li>
        <a href = "/detail/"
        {{item.title}}
    </li>
    {% endfor %}
</ul>
</body>
</html>